[user]
	email = leonid@shagabutdinov.com
	name = Leonid Shagabutdinov
	signingkey = 0B5B862A6D750076
[push]
	default = simple
[core]
	editor = vim
  commentchar = `
	excludesfile = /home/leo/.gitignore
[pull]
 	ff = only
# [commit]
# 	gpgsign = true

