URxvt*termName: rxvt-unicode
URxvt.scrollBar: false

URxvt*modifier: mod1
URxvt.perl-ext-common:      default,matcher,clipboard

URxvt.url-select.launcher:  chromium
URxvt.url-select.underline: true
URxvt.keysym.M-q:           perl:url-select:select_next
URxvt.keysym.M-e:           perl:keyboard-select:activate
URxvt.keysym.M-s:           perl:keyboard-select:search
URxvt.clipboard.autocopy:   true

URxvt.url-launcher: /usr/bin/chromium
URxvt.matcher.button:   1

URxvt.intensityStyles: false

Xcursor.size: 16

URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.saveLines:         20000

URxvt.tabbed.autohide: true
URxvt.keysym.Control-t: perl:tabbedex:new_tab
URxvt.keysym.Control-period: perl:tabbedex:next_tab
URxvt.keysym.Control-comma: perl:tabbedex:prev_tab
! Dracula Xresources palette
*.foreground: #F8F8F2
*.background: #282A36
*.color0:     #000000
*.color8:     #4D4D4D
*.color1:     #FF5555
*.color9:     #FF6E67
*.color2:     #50FA7B
*.color10:    #5AF78E
*.color3:     #F1FA8C
*.color11:    #F4F99D
*.color4:     #BD93F9
*.color12:    #CAA9FA
*.color5:     #FF79C6
*.color13:    #FF92D0
*.color6:     #8BE9FD
*.color14:    #9AEDFE
*.color7:     #BFBFBF
*.color15:    #E6E6E6
urxvt*font:        -xos4-ubuntu-mono-medium-*-*-*-20-*-*-*-*-*-*-*
urxvt*boldFont:    -xos4-terminus-bold-*-*-*-20-*-*-*-*-*-*-*
